@import "../../../scss/variables.scss";

.targetedBeneficiaries-table {
  width: 100px;
}

.targetedBeneficiaries-table__item {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  &:not(:last-child) {
    border-bottom: 1px dashed $grey-600;
  }
}

.targetedBeneficiaries-table__amount {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    margin: 0;
    &:nth-child(1) {
      font-size: 22px;
      font-weight: 500;
    }
    &:nth-child(2) {
      font-size: 16px;
      color: $grey-200;
    }
  }
}

.targetedBeneficiaries-table__icon {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
