.allocations-top {
  display: flex;
  justify-content: space-between;
}

.allocations-bottom {
  display: flex;
}

.allocations-map {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
