.allocations-top {
  display: flex;
  justify-content: flex-start;
}

.allocations-bottom {
  display: flex;
}

.allocations-map {
  display: flex;
  justify-content: center;
  position: relative;
  top: -64px;
  svg {
    width: 800px;
  }
}

.allocations-history {
  margin-top: -17rem;
  width: 340px;
}

.allocations-donor-contrib {
  height: 276px;
  overflow: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f3f3f5;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #e4e4e4;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1;
  }
}
