@import "../../scss/variables.scss";

.allocationsByCluster {
  margin-right: 2rem;
}

.allocationsByCluster-title {
  text-transform: uppercase;
  color: $blue-200;
  font-size: 24px;
  margin: 0 0 2rem;
}
