@import "../../scss/variables.scss";

.menu {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  & > a {
    text-transform: uppercase;
    color: $black-main;
    text-decoration: none;
    padding: 1rem;
    transition: all 0.4s ease;
    &:hover {
      opacity: 0.6;
    }
  }
}
