@import "../../../scss/variables.scss";

.donut-label__top {
  margin: 0;
  font-size: 18px;
}

.donut-label__bottom {
  margin: 0;
  font-size: 15px;
  color: $grey-200;
}

.donut-total__top {
  font-size: 26px;
  margin: 0;
}

.donut-total__bottom {
  margin: 0;
  text-transform: uppercase;
  color: $grey-200;
  font-size: 10px;
}

.donut-percent-label__white {
  color: white;
  font-style: italic;
  font-size: 14px;
}

.donut-percent-label__grey {
  color: $grey-200;
  font-style: italic;
  font-size: 14px;
}
