@import "../../scss/variables.scss";

.donorContrib {
  display: flex;
  justify-content: space-between;
}

.donorContrib-left {
  width: calc(31% - 1rem);
}

.donorContrib-title {
  text-transform: uppercase;
  color: $blue-200;
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 24px;
  margin: 0 0 1rem;
}

.donorContrib-subtitle {
  text-transform: uppercase;
  color: $blue-200;
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 18px;
  margin: 0 0 1rem;
}

.donorContrib-center {
  display: flex;
  flex-direction: column;
  width: calc(38% - 1rem);
}

.donorContrib-right {
  width: calc(31% - 1rem);
  .donorContrib-title {
    margin: 0 0 5rem;
  }
}

.donut-women__and__girls {
  margin-bottom: 5rem;
  position: relative;
  left: -12px;
  svg {
    width: 150px;
    overflow: visible;
  }
}

.donut-disabilities {
  position: relative;
  right: 51px;
  svg {
    width: 150px;
    overflow: visible;
  }
}

.donut-education {
  margin-left: -85px;
  svg {
    width: 150px;
    overflow: visible;
  }
}

.donorContrib-donuts__top {
  display: flex;
  position: relative;
  margin-top: -48px;
  margin-bottom: 0.5rem;
  right: 49px;
  &:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 288px;
    border-left: 1px dashed #c6c6c6;
    display: block;
    left: 243px;
    top: 32px;
  }
  &:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 288px;
    border-left: 1px dashed #c6c6c6;
    display: block;
    left: 463px;
    top: 32px;
  }
}

.donorContrib-center__top-img {
  max-width: 100%;
  margin-bottom: 2rem;
  height: 324px;
}

.donorContrib-center__bottom-img {
  margin-top: 1rem;
}

.donorContrib-sections-names {
  color: $blue-200;
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 15px;
  margin: 0;
  display: flex;
  p {
    margin: 0;
    &:nth-child(1) {
      margin-right: 84px;
    }
    &:nth-child(2) {
      margin-right: 57px;
    }
  }
}

.donorContrib-donuts__bottom {
  border-top: 1px dashed #c6c6c6;
  padding-top: 1rem;
}

.donorContrib-timeline__allocations {
  font-style: italic;
  color: $grey-400;
}

.donorContrib-money-icon {
  width: 50px;
  margin-right: 0.5rem;
  margin-top: 2px;
}

.donorContrib-donorCountries {
  height: 1066px;
  overflow: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f3f3f5;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #e4e4e4;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1;
  }
}

.donorContrib-timeline {
  height: 1082px;
  overflow: auto;
  padding-right: 1.5rem;
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f3f3f5;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #e4e4e4;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1;
  }
}
