@import "../../../../scss/variables.scss";

.woman-chart__wrapper {
  position: relative;
  left: -2px;
}

.woman-chart__girls-label {
  position: absolute;
  left: 163px;
  top: 102px;
}

.woman-chart__women-label {
  position: absolute;
  left: 125px;
  bottom: -57px;
}

.woman-chart__total-number {
  position: absolute;
  left: 124px;
  top: 179px;
  text-align: center;
}
