@import "../../../../scss/variables.scss";

.woman-chart__wrapper {
  position: relative;
  left: -2px;
}

.woman-chart__girls-label {
  position: absolute;
  left: 176px;
  top: 100px;
}

.woman-chart__women-label {
  position: absolute;
  left: 125px;
  bottom: -61px;
}

.woman-chart__total-number {
  position: absolute;
  left: 129px;
  top: 180px;
  text-align: center;
}
