.history-targeted__label {
    width: 30px;
    height: 20px;
    margin-right: 1rem;
}

.history-targeted__label_sm {
    background: #ebf0f4;
}

.history-targeted__label_lg {
    background:#87b3df;
}

.history-targeted__label_md {
    background: #d7e7f7;
}

.history-targeted__label_xl {
    background:  #1e66b5;
}