@import "../../../../scss/variables.scss";

.disabilities__wrapper {
  position: relative;
}

.disabilities__boys-label {
  position: absolute;
  left: 221px;
  top: 158px;
}

.disabilities__girls-label {
  position: absolute;
  left: 186px;
  top: 106px;
}

.disabilities__men-label {
  position: absolute;
  left: 74px;
  top: 108px;
}

.disabilities__women-label {
  position: absolute;
  left: 82px;
  top: 266px;
}

.disabilities__total-number {
  position: absolute;
  left: 124px;
  top: 178px;
  text-align: center;
}

.disabilities-total__top {
  font-size: 28px;
  margin: 0 0 0.2rem;
}

.disabilities-total__bottom {
  margin: 0;
  text-transform: uppercase;
  color: $grey-200;
}
