@import "../../scss/variables.scss";

header {
  position: fixed;
  width: 100%;
  z-index: 20;
  background: white;
  border-bottom: 1px solid $grey-100;
}

.header-container {
  max-width: 1700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-logo-link {
  outline: none;
}

.header-logo {
  width: 140px;
}

.header-search__icon {
  width: 30px;
  cursor: pointer;
}

.header-search__input {
  margin-right: 1rem;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  padding: 10px;
  font-size: 16px;
}
