@import "../../scss/variables.scss";

.allocatedByLocation {
  margin-top: 115px;
}

.allocatedByLocation-content {
  padding-right: 3rem;
  .icons-info:first-child {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px dashed $grey-600;
  }
}

.allocatedByLocation-title {
  text-transform: uppercase;
  color: $blue-200;
  font-size: 26px;
  margin: 0 0 2rem;
  font-weight: 600;
}
