$black-main: #121212;
$yellow-100: #f9d55d;
$red: #e76a54c2;
$gradient-blue-yellow: linear-gradient(#0035ff59 50%, #ffff0080 50%);

$blue-100: #f3f3f5;
$blue-200: #5191cf;

$grey-100: #e5e5e5;
$grey-200: #686868b5;
$grey-300: #e7e7e9;
$grey-400: #4d4d4db5;
$grey-500: #141414b5;
$grey-600: #c5c5c5b5;
