@import "../../../../scss/variables.scss";

.education__wrapper {
  position: relative;
}

.education__boys-label {
  position: absolute;
  left: 62px;
  top: 141px;
}

.education__girls-label {
  position: absolute;
  left: 196px;
  top: 105px;
}

.education__men-label {
  position: absolute;
  left: 228px;
  top: 218px;
}

.education__women-label {
  position: absolute;
  left: 119px;
  top: 280px;
}

.education__total-number {
  position: absolute;
  left: 124px;
  top: 177px;
  text-align: center;
}
